{% extends 'base.html' %}
{% block content %}

<h1 class="container text-center mt-4">Welcome</h1>

<div class="select-button container mt-5">
    <div class="buttons">
        <h3><a href="#">Exchangers</a></h3> 
    </div>
    <div class="buttons">
        <h3><a href="#">Drums</a></h3>
    </div>
    <div class="buttons">
        <h3><a href="#">Towers / Reactors</a></h3>
    </div>
    <div class="buttons">
        <h3><a href="#">Heaters</a></h3>
    </div>
</div>

<div class="reports">
    <div class="buttons">
        <h4><a href="#">View Reports</a></h4>
    </div>
</div>

{% endblock %}