{% extends 'base.html' %}

{% block content %}
<h1 class="container text-center mt-4">Welcome to Digital Wall Charts and Report Writing</h1>

<div class="container mt-5 d-flex flex-column align-items-center gap-4">
    <div class="welcome-buttons">
        <h3><a href="register_company">Company Registration</a></h3>
    </div>
    <div class="welcome-buttons">
        <h3><a href="login_company">Company Admin Login</a></h3>
    </div>
    <div class="welcome-buttons">
        <h3><a href="#">User Login</a></h3>
    </div>
</div>

{% endblock %}