{% extends 'base.html' %}

{% block content %}

<div class="container welcome">
    <h1 class="mb-5">Add New Equipment</h1>
    <form action="/equipment/create_equipment" method="post">
        <div class="mb-3 col-4">
          <label for="equipment_type" class="form-label">Type</label>
          <select class="mb-3 col-4 form-control" name="equipment_type" id="equipment_type">
            <option value="select">Select One</option>
            <option value="Exchanger">Exchanger</option>
            <option value="Drum">Drum</option>
            <option value="Tower">Tower</option>
            <option value="Reactor">Reactor</option>
            <option value="Heater">Heater</option>
            <option value="Piping">Piping</option>
          </select>

        </div>
        <div class="mb-3 col-4">
          <label for="scope_of_work" class="form-label">Scope Of Work</label>
          <input type="text" class="form-control" name="scope_of_work" id="scope_of_work" rows="4"></input>
        </div>
        <div class="mb-3 col-4">
            <label for="equipment_number" class="form-label">Asset Number</label>
            <input type="text" class="form-control" name="equipment_number" id="equipment_number" rows="4"></input>
        </div>
        <div class="mb-3 col-4">
          <label for="equipment_name" class="form-label">Asset Name</label>
          <input type="text" class="form-control" name="equipment_name" id="equipment_name">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
  </div>
</div>

{% endblock %}